.pokemonCard {
  background-color: rgba(128, 128, 128, 0.192);
  width: 15rem;
  height: 20rem;
  border-radius: 0.4rem;
  margin: 2rem auto;
  transition: all 0.4s;
  border: 1px solid #00000030;
}
.pokemonCard:hover {
  transform: scale(1.05);
}
.pokeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
.pokeContainer img {
  margin-top: 6rem;
  width: 13rem;
}
a {
  text-decoration: none;
  height: 100%;
}
h2 {
  color: #000;
  font-weight: 300;
}
main {
  margin: 0 2rem;
}
@media only screen and (min-width: 500px) {
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .pokemonCard {
    margin: 0 1rem;
  }
}
